In [9]:
import pandas as pd
import acquire
from pydataset import data

#### Question 4: In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [10]:
df_iris = data('iris')

# print the first 3 rows
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [11]:
# print the number of rows and columns (shape)
df_iris.shape

(150, 5)

In [12]:
# print the column names
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [39]:
# print the data type of each column
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [13]:
# print the summary statistics for each of the numeric variables
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

#### Question 5. Read the Table1_CustDetails table from your spreadsheet exercises google sheet into a dataframe named df_google_sheets.

In [77]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1eS63JGb15mvgqi5_1vciBJFEMm8o6-IPIEs4oPPtRIY/edit#gid=1023018493'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google_sheets = pd.read_csv(csv_export_url)
df_google_sheets.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes,3.2

In [78]:
# assign the first 100 rows to a new dataframe, df_google_sheets_sample
df_google_sheets_sample = df_google_sheets.head(100)
df_google_sheets_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No,8.2
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No,72.1
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No,63.5
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No,7.1
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No,65.9
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No,54.4
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No,72.4
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No,5.1
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No,71.7
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No,56.8
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No,71.5
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No,32.5
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No,1.0
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes,44.5
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes,1.0
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No,51.8
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes,12.9
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No,22.1
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No,2.9
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes,3.8
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes,1.0
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No,54.5
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No,53.5
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No,24.1
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No,70.9
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No,35.6
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No,44.1
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No,68.6
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No,65.4
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No,20.9
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No,42.6
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No,55.2
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No,59.1
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No,11.1
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No,25.5
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes,1.8
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No,26.6
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No,24.7
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No,26.2
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No,27.6
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No,74.2
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No,14.1
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No,35.6
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No,1.0
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No,27.7
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No,68.5
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No,37.7
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No,40.1
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes,38.6
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes,11.8
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No,6.2
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No,29.3
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No,27.3
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No,69.7
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No,57.2
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No,57.2
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No,17.0
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No,70.5
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes,1.0
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes,1.0
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No,30.5
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No,15.9
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes,48.1
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No,71.2
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No,33.9
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No,9.4
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes,20.8
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes,36.0
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No,25.6
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No,49.4
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes,6.9
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No,62.7
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes,15.3
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No,25.0
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No,71.3
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No,42.2
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No,66.9
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes,2.1
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No,43.7
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes,11.7
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No,69.4
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes,1.0
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes,3.2
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No,2.1
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No,27.8
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No,25.2
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No,39.0
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes,24.9
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes,1.0
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes,21.3
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No,73.9
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No,24.1
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No,18.0
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No,72.9
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No,33.6

In [79]:
# print the number of rows of your original dataframe
df_google_sheets.shape[0]

7049

In [80]:
# print the first 5 column names
df_google_sheets.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [81]:
# print the column names that have a data type of object
for x in df_google_sheets.columns:
    if df_google_sheets.dtypes[x] == 'object':
        print(x)
        
# df_google_sheets.select_dtypes('object').columns is an alternate way to get at this information

customer_id
gender
partner
dependents
payment_type
churn

In [86]:
# compute the range for each of the numeric variables.
numeric_list = list()
for x in df_google_sheets.columns:
    if df_google_sheets.dtypes[x] == 'float64':
        numeric_list.append(x)
        
for name in numeric_list:
    print(f"The range for {name} is {df_google_sheets[name].max()- df_google_sheets[name].min()}.")

The range for monthly_charges is 100.5.
The range for total_charges is 8666.0.
The range for tenure is 79.3.

In [110]:
df_google_sheets.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
tenure               float64
dtype: object

#### Question 6. Download your spreadsheet exercises google sheet as an excel file (File → Download → Microsoft Excel). Read the Table1_CustDetails worksheet into a dataframe named df_excel.

In [15]:
df_excel = pd.read_excel('spreadsheet_exercises.xlsx')
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,267.40,Yes,3.187128

In [16]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.60,593.30,No,9.044207
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.90,542.40,No,9.055092
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.90,280.85,Yes,3.800406
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.00,1237.85,Yes,12.631122
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.90,267.40,Yes,3.187128
5,0013-MHZWF,Female,0.0,No,Yes,1.0,1.0,0.0,Credit card (automatic),69.40,571.45,No,8.234150
6,0013-SMEOE,Female,1.0,Yes,No,1.0,2.0,2.0,Bank transfer (automatic),109.70,7904.25,No,72.053327
7,0014-BMAQU,Male,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),84.65,5377.80,No,63.529829
8,0015-UOCOJ,Female,1.0,No,No,1.0,1.0,0.0,Electronic check,48.20,340.35,No,7.061203
9,0016-QLJIS,Female,0.0,Yes,Yes,2.0,1.0,2.0,Mailed check,90.45,5957.90,No,65.869541
10,0017-DINOC,Male,0.0,No,No,0.0,1.0,2.0,Credit card (automatic),45.20,2460.55,No,54.436947
11,0017-IUDMW,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),116.80,8456.75,No,72.403682
12,0018-NYROU,Female,0.0,Yes,No,1.0,2.0,0.0,Electronic check,68.95,351.50,No,5.097897
13,0019-EFAEP,Female,0.0,No,No,2.0,2.0,2.0,Bank transfer (automatic),101.30,7261.25,No,71.680652
14,0019-GFNTW,Female,0.0,No,No,0.0,1.0,2.0,Bank transfer (automatic),45.05,2560.10,No,56.827969
15,0020-INWCK,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),95.75,6849.40,No,71.534204
16,0020-JDNXP,Female,0.0,Yes,Yes,0.0,1.0,1.0,Mailed check,61.25,1993.20,No,32.542041
17,0021-IKXGC,Female,1.0,No,No,2.0,2.0,0.0,Electronic check,72.10,72.10,No,1.000000
18,0022-TCJCI,Male,1.0,No,No,1.0,1.0,1.0,Credit card (automatic),62.70,2791.50,Yes,44.521531
19,0023-HGHWL,Male,1.0,No,No,0.0,1.0,0.0,Electronic check,25.10,25.10,Yes,1.000000
20,0023-UYUPN,Female,1.0,Yes,No,2.0,0.0,1.0,Electronic check,25.20,1306.30,No,51.837302
21,0023-XUOPT,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,94.10,1215.60,Yes,12.918172
22,0027-KWYKW,Female,0.0,Yes,Yes,2.0,2.0,0.0,Electronic check,83.75,1849.95,No,22.088955
23,0030-FNXPP,Female,0.0,No,No,1.0,0.0,0.0,Mailed check,19.85,57.20,No,2.881612
24,0031-PVLZI,Female,0.0,Yes,Yes,1.0,0.0,0.0,Mailed check,20.35,76.35,Yes,3.751843
25,0032-PGELS,Female,0.0,Yes,Yes,0.0,1.0,0.0,Bank transfer (automatic),30.50,30.50,Yes,1.000000
26,0036-IHMOT,Female,0.0,Yes,Yes,1.0,2.0,1.0,Bank transfer (automatic),103.70,5656.75,No,54.549180
27,0040-HALCW,Male,0.0,Yes,Yes,1.0,0.0,2.0,Credit card (automatic),20.40,1090.60,No,53.460784
28,0042-JVWOJ,Male,0.0,No,No,1.0,0.0,1.0,Bank transfer (automatic),19.60,471.85,No,24.073980
29,0042-RLHYP,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),19.70,1396.90,No,70.908629
30,0048-LUMLS,Male,0.0,Yes,Yes,1.0,2.0,1.0,Credit card (automatic),91.20,3247.55,No,35.609101
31,0048-PIHNL,Female,0.0,Yes,No,1.0,0.0,1.0,Bank transfer (automatic),20.45,900.90,No,44.053790
32,0052-DCKON,Male,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),115.80,7942.15,No,68.585060
33,0052-YNYOT,Female,0.0,No,No,1.0,0.0,1.0,Electronic check,20.55,1343.40,No,65.372263
34,0056-EPFBG,Male,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),39.40,825.40,No,20.949239
35,0057-QBUQH,Female,0.0,No,Yes,2.0,0.0,2.0,Electronic check,25.10,1070.15,No,42.635458
36,0058-EVZWM,Female,0.0,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),89.80,4959.60,No,55.229399
37,0060-FUALY,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,94.75,5597.65,No,59.078100
38,0064-SUDOG,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),20.30,224.50,No,11.059113
39,0064-YIJGF,Male,0.0,Yes,Yes,2.0,2.0,0.0,Bank transfer (automatic),75.75,1929.00,No,25.465347
40,0067-DKWBL,Male,1.0,No,No,1.0,1.0,0.0,Electronic check,49.25,91.10,Yes,1.849746
41,0068-FIGTF,Female,0.0,No,No,1.0,1.0,1.0,Mailed check,78.20,2078.95,No,26.585038
42,0071-NDAFP,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),25.50,630.60,No,24.729412
43,0074-HDKDG,Male,0.0,Yes,Yes,1.0,1.0,1.0,Bank transfer (automatic),61.60,1611.00,No,26.152597
44,0076-LVEPS,Male,0.0,No,Yes,0.0,1.0,0.0,Mailed check,45.00,1242.45,No,27.610000
45,0078-XZMHT,Male,0.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),85.15,6316.20,No,74.177334
46,0080-EMYVY,Female,0.0,No,No,1.0,1.0,1.0,Credit card (automatic),51.45,727.85,No,14.146744
47,0080-OROZO,Female,0.0,No,No,1.0,2.0,1.0,Electronic check,99.25,3532.00,No,35.586902
48,0082-LDZUE,Male,0.0,No,No,1.0,1.0,0.0,Mailed check,44.30,44.30,No,1.000000
49,0082-OQIQY,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,94.20,2607.60,No,27.681529
50,0083-PIVIK,Male,0.0,No,No,2.0,1.0,1.0,Electronic check,81.25,5567.55,No,68.523692
51,0089-IIQKO,Female,0.0,Yes,Yes,2.0,2.0,0.0,Credit card (automatic),99.95,3767.40,No,37.692846
52,0093-EXYQL,Female,1.0,No,No,1.0,2.0,0.0,Electronic check,91.55,3673.60,No,40.126707
53,0093-XWZFY,Male,0.0,No,No,2.0,2.0,0.0,Credit card (automatic),104.50,4036.85,Yes,38.630144
54,0094-OIFMO,Female,1.0,No,No,1.0,2.0,0.0,Electronic check,95.00,1120.30,Yes,11.792632
55,0096-BXERS,Female,0.0,Yes,No,2.0,1.0,0.0,Electronic check,50.35,314.55,No,6.247269
56,0096-FCPUF,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,64.50,1888.45,No,29.278295
57,0098-BOWSO,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,19.40,529.80,No,27.309278
58,0100-DUVFC,Male,1.0,Yes,No,2.0,2.0,1.0,Electronic check,104.80,7308.95,No,69.741889
59,0103-CSITQ,Female,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),109.40,6252.70,No,57.154479
60,0104-PPXDV,Male,0.0,Yes,No,1.0,1.0,1.0,Credit card (automatic),50.30,2878.55,No,57.227634
61,0106-GHRQR,Male,0.0,No,No,2.0,1.0,0.0,Bank transfer (automatic),71.40,1212.10,No,16.976190
62,0106-UGRDO,Female,0.0,Yes,No,2.0,2.0,2.0,Electronic check,116.00,8182.85,No,70.541810
63,0107-WESLM,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,19.85,19.85,Yes,1.000000
64,0107-YHINA,Male,0.0,No,Yes,2.0,2.0,0.0,Electronic check,99.75,99.75,Yes,1.000000
65,0111-KLBQG,Male,1.0,Yes,Yes,1.0,2.0,0.0,Mailed check,93.95,2861.45,No,30.457158
66,0112-QAWRZ,Male,0.0,Yes,Yes,2.0,2.0,0.0,Bank transfer (automatic),90.80,1442.20,No,15.883260
67,0112-QWPNC,Male,0.0,Yes,No,2.0,1.0,1.0,Electronic check,84.35,4059.35,Yes,48.125074
68,0114-IGABW,Female,0.0,Yes,No,0.0,1.0,2.0,Bank transfer (automatic),58.25,4145.90,No,71.174249
69,0114-PEGZZ,Female,0.0,No,No,2.0,2.0,0.0,Electronic check,107.55,3645.50,No,33.895862
70,0114-RSRRW,Female,0.0,Yes,No,1.0,0.0,0.0,Bank transfer (automatic),19.95,187.75,No,9.411028
71,0115-TFERT,Male,0.0,Yes,No,2.0,2.0,0.0,Electronic check,111.20,2317.10,Yes,20.837230
72,0117-LFRMW,Male,0.0,Yes,Yes,0.0,1.0,0.0,Bank transfer (automatic),40.20,1448.80,Yes,36.039801
73,0118-JPNOY,Female,1.0,No,No,1.0,2.0,0.0,Credit card (automatic),85.80,2193.65,No,25.567016
74,0121-SNYRK,Male,0.0,No,No,0.0,1.0,1.0,Mailed check,35.40,1748.90,No,49.403955
75,0122-OAHPZ,Female,0.0,No,No,2.0,2.0,0.0,Electronic check,73.85,511.25,Yes,6.922817
76,0123-CRBRT,Female,0.0,Yes,Yes,2.0,1.0,2.0,Mailed check,88.10,5526.75,No,62.732690
77,0125-LZQXK,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,101.35,1553.95,Yes,15.332511
78,0128-MKWSG,Female,0.0,No,Yes,0.0,1.0,0.0,Mailed check,45.80,1147.00,No,25.043668
79,0129-KPTWJ,Male,0.0,Yes,No,1.0,2.0,0.0,Electronic check,94.65,6747.35,No,71.287375
80,0129-QMPDR,Male,0.0,Yes,Yes,1.0,0.0,1.0,Bank transfer (automatic),20.50,865.05,No,42.197561
81,0130-SXOUN,Male,0.0,No,No,2.0,2.0,0.0,Credit card (automatic),89.40,5976.90,No,66.855705
82,0133-BMFZO,Female,0.0,No,No,1.0,2.0,0.0,Electronic check,86.25,181.65,Yes,2.106087
83,0134-XWXCE,Female,1.0,No,No,1.0,1.0,1.0,Bank transfer (automatic),74.85,3268.05,No,43.661323
84,0135-NMXAP,Female,0.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),89.75,1052.40,Yes,11.725905
85,0136-IFMYD,Male,1.0,Yes,No,2.0,2.0,2.0,Electronic check,109.95,7634.25,No,69.433834
86,0137-OCGAB,Female,0.0,No,No,2.0,2.0,0.0,Mailed check,80.20,80.20,Yes,1.000000
87,0137-UDEUO,Female,0.0,No,No,1.0,0.0,0.0,Mailed check,19.85,63.75,Yes,3.211587
88,0139-IVFJG,Female,0.0,Yes,No,1.0,2.0,0.0,Electronic check,90.35,190.50,No,2.108467
89,0141-YEAYS,Female,1.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),86.45,2401.05,No,27.773858
90,0142-GVYSN,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,20.30,511.25,No,25.184729
91,0147-ESWWR,Female,1.0,Yes,No,2.0,2.0,0.0,Electronic check,101.25,3949.15,No,39.003951
92,0148-DCDOS,Male,0.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),94.70,2362.10,Yes,24.942978
93,0151-ONTOV,Female,0.0,No,No,1.0,2.0,0.0,Mailed check,70.90,70.90,Yes,1.000000
94,0156-FVPTA,Male,0.0,Yes,No,1.0,1.0,0.0,Electronic check,54.20,1152.70,Yes,21.267528
95,0164-APGRB,Female,0.0,No,No,2.0,2.0,2.0,Electronic check,114.90,8496.70,No,73.948651
96,0164-XAIRP,Female,0.0,No,No,1.0,0.0,2.0,Bank transfer (automatic),19.55,470.20,No,24.051151
97,0168-XZKBB,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,86.85,1564.40,No,18.012666
98,0174-QRVVY,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),25.35,1847.55,No,72.881657
99,0177-PXBAT,Male,1.0,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),109.90,3694.70,No,33.618744

In [17]:
# print the number of rows of your original dataframe
df_excel.shape[0]

7049

In [18]:
# print the first 5 column names
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [19]:
# print the column names that have a data type of object
df_excel.select_dtypes('object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [20]:
# compute the range for each of the numeric variables.
numeric_list = ['monthly_charges', 'total_charges', 'tenure']

for name in numeric_list:
    print(f"The range for {name} is {df_excel[name].max()- df_excel[name].min()}.")

# The exporting to xlsx file changed the int64 files types to float64, so now where there is a any numerical value
# it is represented by a float64.  This didn't happen in the previously selected dataframe df_google_sheets since 
# when it was imported into pandas it kept the categorical variables as int64. As such, when I find the range of all
# numeric values it shows the range for the categorical columns as well; so to get around this I specify the numeric
# list columns here as opposed to iterating a for loop to find the numeric columns.

The range for monthly_charges is 100.5.
The range for total_charges is 8666.0.
The range for tenure is 79.34177215.

#### Question 7. Read the data from this google sheet into a dataframe, df_google.

In [23]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit?usp=sharing'
csv_export_url = sheet_url.replace('/edit?usp=sharing', '/export?format=csv')
df_google = pd.read_csv(csv_export_url)

In [24]:
# print the first 3 rows
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [25]:
# print the number of rows and columns
df_google.shape

(891, 12)

In [26]:
# print the column names
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
# print the data type of each column
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [33]:
# print the summary statistics for each of the numeric variables
df_google[['Age', 'Fare']].describe().T

      count       mean        std   min      25%      50%   75%       max
Age   714.0  29.699118  14.526497  0.42  20.1250  28.0000  38.0   80.0000
Fare  891.0  32.204208  49.693429  0.00   7.9104  14.4542  31.0  512.3292

In [128]:
# print the unique values for each of your categorical variables
cat_variables = ['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']

for cat in cat_variables:
    print(f"For the category {cat} the unique values are {df_google[cat].unique()}.")

For the category Survived the unique values are [0 1].
For the category Pclass the unique values are [3 1 2].
For the category Sex the unique values are ['male' 'female'].
For the category SibSp the unique values are [1 0 3 4 2 5 8].
For the category Parch the unique values are [0 1 2 5 3 4 6].
For the category Embarked the unique values are ['S' 'C' 'Q' nan].

### Importing functions from acquire.py

In [35]:
import acquire

iris = acquire.get_iris_data()
iris.head()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa

In [36]:
titanic = acquire.get_titanic_data()
titanic.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [37]:
telco = acquire.get_telco_data()
telco.head()

,Unnamed: 0,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,Mailed check,DSL
1,1,1,2,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,Mailed check,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Mailed check,Fiber optic

## Data preparation Exercises

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

In [16]:
import acquire
import pandas as pd
iris = acquire.get_iris_data()
iris.head()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa

In [17]:
# Drop the species_id and measurement_id columns.
# I additionally dropped the "Unnamed: 0" column as it was an extra index that served no purpose
iris.drop(columns = ['Unnamed: 0', 'species_id', 'measurement_id'], inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa
3           4.6          3.1           1.5          0.2       setosa
4           5.0          3.6           1.4          0.2       setosa

In [18]:
# Rename the species_name column to just species.
iris.rename(columns = {'species_name': 'species'}, inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
#Create dummy variables of the species name.
dummy_df = pd.get_dummies(iris.species, dummy_na=False, drop_first=True)
dummy_df.head()

   versicolor  virginica
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0

In [22]:
# Concatenate my dummy_df to my data
iris = pd.concat([iris, dummy_df], axis = 1)
iris.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

In [ ]:
# Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the 
# transformations above applied.
def prep_iris(iris):
    '''
    Takes in a dirty iris dataframe and outputs a cleaned/transformed iris dataframe as per the requirements in the exercises.
    '''
    iris.drop(columns = ['Unnamed: 0', 'species_id', 'measurement_id'], inplace=True)
    iris.rename(columns = {'species_name': 'species'}, inplace=True)
    dummy_df = pd.get_dummies(iris.species, dummy_na=False, drop_first=True)
    iris = pd.concat([iris, dummy_df], axis = 1)
    return iris

Using the Titanic dataset:

In [23]:
# I copied the work done in class already into my prepare.py file for the titanic dataset

Using the Telco dataset:

In [34]:
# Use the function defined in acquire.py to load the Telco data.
telco = acquire.get_telco_data()
telco.head()

,Unnamed: 0,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,Mailed check,DSL
1,1,1,2,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,Mailed check,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Mailed check,Fiber optic

In [35]:
# Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.
telco.drop(columns = ['Unnamed: 0', 'internet_service_type_id', 'payment_type_id', 'contract_type_id'], inplace=True)
telco.drop_duplicates(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  paperless_billing      7043 non-null   object
 15  monthly_charges        7043 non-null   float64
 16  total_charges          7043 non-null   object
 17  churn                  7043 non-null   object
 18  contract_type          7043 non-null   object
 19  payment_type           7043 non-null   object
 20  internet_service_type  7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [59]:
# Additionally I found that the total_charges column is showing as an 'object' where it should be a numerical column
# so I forced it to change to float.  There were 11 values that changed to null due to this. I could explore further 
# to find out which entries caused the problems or just leave it for now and decided how to handle the nulls later.
telco['total_charges'] = pd.to_numeric(telco['total_charges'], errors='coerce')
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  paperless_billing      7043 non-null   object
 15  monthly_charges        7043 non-null   float64
 16  total_charges          7032 non-null   float64
 17  churn                  7043 non-null   object
 18  contract_type          7043 non-null   object
 19  payment_type           7043 non-null   object
 20  internet_service_type  7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [26]:
# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the 
# dataframe.

In [ ]:
# Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations 
# above applied.